target

.DS_Store

*.bin
*.elf
*.hex
*.uf2

.idea

# ignore Cargo.lock of library, but keep it for binaries
rmk/Cargo.lock
rmk-macro/Cargo.lock
rmk-config/Cargo.lock

# mdbook site
docs/book
docs/po/messages.pot

# esp idf build files
.embuild