target
node_modules

.DS_Store

*.bin
*.elf
*.hex
*.uf2

.idea

# ignore Cargo.lock of library, but keep it for binaries
rmk/Cargo.lock
rmk-macro/Cargo.lock
rmk-config/Cargo.lock

# esp idf build files
.embuild

# Pi Pico W firmware folder
cyw43-firmware

# rspress
docs/dist