target

.DS_Store

*.bin
*.elf
*.hex

.idea

# ignore Cargo.lock of library, but keep it for binaries
rmk/Cargo.lock
rmk-config/Cargo.lock
rmk-macro/Cargo.lock

# mdbook site
docs/book

# esp idf build files
.embuild