[target.'cfg(all(target_arch = "arm", target_os = "none"))']
runner = "probe-rs run --chip STM32F103CB"
linker = "flip-link"

[unstable]
build-std = ["core"]
build-std-features = ["panic_immediate_abort"]

[build]
target = "thumbv7m-none-eabi"        # Cortex-M3

[env]
DEFMT_LOG = "error"