/* 覆盖默认变量 */
:root {
  --vp-c-brand-1: #ff8800;
  --vp-c-brand-2: #ff9e33;
  --vp-c-brand-3: #ffb666;
  --vp-c-brand-4-bg: #fff2e3;
  --vp-code-color: #ff8800;

  --vp-c-text-1: #212529;
  --vp-c-text-2: #343a40;
  --vp-c-ant-text: #ffffff;

  --vp-c-bg: #ffffff;
  --vp-c-bg-soft: #fcfcfc;

  --vp-c-block-bg: #e9f0f7;
  --vp-c-block-code-bg: #f6f8fa;

  --vp-c-gray-1: #8e8e8e1e;
  --vp-c-gray-2: #b5b5b5;
  --vp-c-gray-3: #d1d1d1;

  --vp-c-divider-to: var(--vp-c-gray-1);

  --vp-sidebar-text-1: #6c757d; /* 默认 */
  --vp-sidebar-text-2: #495057; /* hover */
  --vp-sidebar-text-3: #343a40; /* active */

  --vp-sidebar-bg-1: #fff0df; /* 默认 */
  --vp-sidebar-bg-2: #efefef; /* hover */
  --vp-sidebar-bg-3: #e9ecef; /* active */

  --vp-sidebar-bg-color: #ffffff;
  --vp-sidebar-width: 300px;
}

/* 暗黑模式 */

.dark {
  --vp-c-brand-1: #da9d41;
  --vp-c-brand-2: #ffca7a;
  --vp-c-brand-3: #da9d41;
  --vp-c-brand-4-bg: #473a28;

  --vp-c-text-1: #d7d7d7;
  --vp-c-text-2: #919191;
  --vp-c-ant-text: #414141;

  --vp-c-bg: #191d24;
  --vp-c-bg-soft: #1a1a1a;
  --vp-c-bg-alt: #282828;

  --vp-c-block-bg: #2d2d2d;
  --vp-c-block-code-bg: #242424;

  --vp-c-gray-1: #78787826;
  --vp-c-gray-2: #5a5a5a;
  --vp-c-gray-3: #3d3d3d;

  --vp-c-divider: #ffffff1a;
  --vp-c-divider-to: var(--vp-c-gray-1);
  --vp-c-surface-0: #00000066;

  --vp-sidebar-text-1: #a6adbb; /* 默认 */
  --vp-sidebar-text-2: #d9d9d9; /* hover */
  --vp-sidebar-text-3: #ffffff; /* active */

  --vp-sidebar-bg-1: #1f2937; /* 默认 */
  --vp-sidebar-bg-2: #2d3748; /* hover */
  --vp-sidebar-bg-3: #3b4452; /* active */

  --vp-sidebar-bg-color: #191d24;
}

::selection {
  background: var(--vp-c-brand-4-bg); 
  color: var(--vp-c-brand-1);
}

/* 图片保护色 */
.dark img:not(.no-multiply) {
  opacity: 0.8;
}

/* 链接样式 */
.action a {
  color: var(--vp-c-ant-text) !important;
}
.VPSocialLinks {
  display: flex;
  gap: 5px;
}
.VPSocialLink {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 8px !important;
}

/* 滑动条样式 */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--vp-c-text-2) var(--vp-c-bg);
}

aside {
  scrollbar-width: thin;
  scrollbar-color: var(--vp-c-divider) var(--vp-c-bg);
}
aside:hover {
  scrollbar-color: var(--vp-c-divider-to) var(--vp-c-bg);
}

/* 代码块样式 */
.vp-doc div[class*='language-'] {
  border-radius: 1rem;
  margin: 16px 0;
  background-color: var(--vp-c-bg-soft);
}
.vp-doc .vp-code-group .tabs {
  margin: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.vp-doc div[class*='language-'] span.lang {
  font-size: 14px;
  position: unset;
  padding: 12px 24px;
  display: block;
  background-color: var(--vp-c-block-bg);
  opacity: 1 !important;
}
.vp-doc div[class*='language-'] pre {
  background-color: var(--vp-c-block-code-bg);
  scrollbar-width: thin;
  scrollbar-color: var(--vp-c-gray-1) var(--vp-c-bg);
}
.vp-doc [class*='language-'] > button.copy {
  top: 15px;
  border-color: var(--vp-c-block-code-bg);
  background-color: var(--vp-c-block-code-bg);
}

/* 锚点导航 */
.VPContent {
  .outline-link:hover,
  .outline-link.active {
    color: var(--vp-c-brand-1);
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Nav */

/* 二级标题固定色彩 */
.group > .VPSidebarItem:first-child > .item:first-child {
  background-color: var(--vp-sidebar-bg-color) !important;
  margin-left: -10px;
  .text {
    font-weight: 700;
    color: var(--vp-text-1) !important;
  }
}
/* 二级以下标题样式重设 */
.nav .VPSidebarItem {
  &.level-1,
  &.level-2,
  &.level-3,
  &.level-4,
  &.level-5 {
    .items {
      padding-left: 0;
      margin-left: 16px;
      border-left: 1px solid var(--vp-c-gray-3);
    }
    .item {
      .VPLink {
        max-width: 100%;
        .text {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: 500;
          color: var(--vp-sidebar-text-1);
          height: 24px;
          padding: 0;
          line-height: 24px;
          flex-grow: none;
        }
      }
    }
  }
  &.level-0 {
    padding-bottom: 0;
  }
  .caret-icon {
    font-size: calc(1.2 * var(--default));
  }
  .caret {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* 为每个Group设置buttom */
.nav .group {
  padding-bottom: 9px;
}
/* 统一设置item与items之间的间距 */
.VPSidebarItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
/* 统一设置每个item之间的间距 */
.nav .items {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0;
}
/* 统一设置每个item的样式 */
.VPSidebarItem .item {
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 0;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 4px 12px 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* is_active下的光标样式 */
.item .indicator {
  left: -1px;
  top: 0;
  height: 32px;
}

/* color */
/* item：hover */
.VPSidebarItem .item:hover {
  background-color: var(--vp-sidebar-bg-2);
  .text {
    font-weight: 500;
    color: var(--vp-sidebar-text-2) !important;
  }
}
/* item:pick */
.VPSidebarItem .item:active {
  background-color: var(--vp-sidebar-bg-3);
  .text {
    font-weight: 500;
    color: var(--vp-sidebar-text-3) !important;
  }
}
/* item:is_active */
.VPSidebarItem {
  &.is-active > .item:first-child {
    opacity: 1 !important;
    background-color: var(--vp-c-brand-4-bg) !important;
    .text {
      font-weight: 500;
      color: var(--vp-c-brand-1) !important;
    }
    .indicator{
      background-color: var(--vp-c-brand-1) !important;
    }
  }
}
