name: Deploy Docs
on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

env:
  TRANSLATED_LANGUAGES: zh_CN

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # To push a branch 
      pages: write  # To push to a GitHub Pages site
      id-token: write # To update the deployment status
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install latest mdbook
        run: |
          tag=$(curl 'https://api.github.com/repos/rust-lang/mdbook/releases/latest' | jq -r '.tag_name')
          url="https://github.com/rust-lang/mdbook/releases/download/${tag}/mdbook-${tag}-x86_64-unknown-linux-gnu.tar.gz"
          mkdir mdbook
          curl -sSL $url | tar -xz --directory=./mdbook
          echo `pwd`/mdbook >> $GITHUB_PATH
      - name: Install gettext
        run: |
          sudo apt update
          sudo apt install gettext
      - name: Install mdbook-i18n-helpers
        run: cargo install mdbook-i18n-helpers --locked --version 0.3.3
        shell: bash
      
      - name: Make script executable
        run: chmod +x .github/workflows/build_docs.sh
      - name: Build Book in English
        run: .github/workflows/build_docs.sh en book
      - name: Build all translations
        run: |
          for po_lang in ${{ env.TRANSLATED_LANGUAGES }}; do
              .github/workflows/build_docs.sh $po_lang book/$po_lang
              cd docs
              find . -type d -mindepth 1 -maxdepth 4
              cd ../
              echo "1234"
              find . -type d -mindepth 1 -maxdepth 4
              mv docs/book/$po_lang/html docs/book/html/$po_lang
          done
      
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/book/html'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1